<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:if="${error != null}"  th:text="#{message.invalid.login.waring}">
</div>
<form th:action="@{/login}" method="post">
    <div><label th:text="#{message.user.email}"/><input type="email" name="email"/></div>
    <div><label th:text="#{message.user.password}"/><input type="password" name="password"/></div>
    <div><input type="checkbox" name="remember-me" th:text="#{message.remember.me}"></div>
    <div> <button type="submit" th:text="#{message.sign.in}"/></div>
</form>
</body>
</html>