<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<a href="/logout" th:text="#{message.logout}"/>
<br>
<head>
</head>
<body>
<form th:action="@{/local}">
    <select th:name="lang">
        <option th:each="i : ${local}" th:value="${i}" th:text="${i}">
        </option>
    </select>
    <button type="submit" th:text="#{message.submit}"/>
</form>
<a th:href="@{/login}" th:text="#{message.sign.in}"/>
<br>
<a th:href="@{/register}" th:text="#{message.register}"/>
<br>
<a th:href="@{/catalog}" th:text="#{message.catalog}"/>
</body>
</html>