<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<form action="/register" method="post" th:object="${user}">
    <label th:text="#{message.user.email}"/>
    <br>
    <input type="email" th:field="*{email}"/>
    <div th:if="${error != null}"  th:text="${error}"/>
    <br>
    <label th:text="#{message.user.password}"/><br>
    <input type="password" th:field="*{password}"/>
    <br><br>
    <ul>
        <li th:each="role: ${allRoles}">
            <input type="checkbox"
                   th:field="*{roles}"
                   th:value="${role.name}"/>
            <label
                th:text="${role.name}"></label>
        </li>
    </ul>
    <br><br>
    <button type="submit" th:text="#{message.submit}"/>
</form>
</body>
</html>